<%
  
  
%>

<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <!-- Navigation -->
  <%- include('layouts/navbar'); -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/upload/<%= detailPost.image %>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= detailPost.title %></h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#"><%= userPost.name %></a>
              on <%= detailPost.DatePost.toDateString() %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= detailPost.content %>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('layouts/footer'); -%>

  <!-- Bootstrap core JavaScript -->
  <%- include('layouts/script'); -%>

</body>

</html>
